body {
	background: url("../images/background.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.container {
	margin-top: 50px;
	height: 900px;
	color: #ffffff;
}

#heading {
	color: #c2ab32;
	font-size: 52px;
	text-shadow: 2px 2px 5px black;
	text-align: center;
	font-family: 'Eagle Lake', cursive;
}

#start-button {
	color: #ffffff;
	background-color: #300d80;
	opacity: 1;
	width: 500px;
	height: 100px;
	text-align: center;
	font-family: 'Eagle Lake', cursive;
	font-size: 24px;
}

.answers, #message {
	font-family: 'Rambla', sans-serif;
	margin: 30px 0;
	text-align: center;
	font-size: 24px;
}

#question {
	font-family: 'Rambla', sans-serif;
	margin: 50px 0 30px 0;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
}

#timer {
	font-family: 'Rambla', sans-serif;
	color: #c2ab32;
	text-shadow: 2px 2px 5px black;
	margin: 30px 0;
	text-align: center;
	font-size: 35px;
	font-weight: bolder;
}

.hover-class {
	background-color: #c0b6d8;
	color: #300d80;
	font-weight: bolder;
	cursor: pointer;
}

#button-1, #button-2, #button-3, #button-4 {
	margin: 40px 0;
	padding: 30px 0;
}

#gif-here {
	text-align: center;
}

.footer {
	text-align: right;
	color: #ffffff;
	font-family: 'Rambla', sans-serif;
	font-size: 15px;
}